Project 1

In [226]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.ensemble import RandomForestRegressor

pd.options.display.float_format = '{:,.2f}'.format

# setup interactive notebook mode
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from IPython.display import display, HTML

In [227]:
# Reading and cleaning flight data
arrivalData = pd.read_excel("C:/Users/nirmi/Desktop/SU_SEM3/IntroToML/Project/Data sets/Detailed_Statistics_Arrivals -final1.xlsx")
departureData = pd.read_excel("C:/Users/nirmi/Desktop/SU_SEM3/IntroToML/Project/Data sets/final departures-details1.xlsx")

arrivalData.head()
departureData.head()

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Origin Airport,Scheduled Arrival Time,Actual Arrival Time,Arrival Delay (Minutes)
0,UA,2022-01-10 00:00:00,604,N843UA,DEN,15:09:00,15:04:00,-5
1,UA,2022-01-10 00:00:00,1917,N899UA,ORD,16:57:00,16:54:00,-3
2,UA,2022-01-10 00:00:00,1998,N834UA,ORD,21:18:00,21:01:00,-17
3,UA,2022-01-10 00:00:00,2198,N854UA,IAD,23:31:00,23:52:00,21
4,UA,2022-02-10 00:00:00,604,N402UA,DEN,15:09:00,14:55:00,-14

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Destination Airport,Scheduled departure time,Actual departure time,Scheduled elapsed time (Minutes),Actual elapsed time (Minutes),Departure delay (Minutes),Wheels-off time,Taxi-Out time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes),Source Airport
0,UA,2022-01-10 00:00:00,2198,N854UA,SYR,22:20:00,22:47:00,71,65,27,23:01:00,14,21,0,0,0,0,IAD
1,UA,2022-02-10 00:00:00,2198,N854UA,SYR,22:20:00,22:21:00,71,71,1,22:38:00,17,0,0,0,0,0,IAD
2,UA,2022-03-10 00:00:00,2198,N830UA,SYR,22:20:00,22:12:00,71,69,-8,22:26:00,14,0,0,0,0,0,IAD
3,UA,2022-04-10 00:00:00,2198,N876UA,SYR,22:20:00,22:23:00,71,67,3,22:37:00,14,0,0,0,0,0,IAD
4,UA,2022-05-10 00:00:00,2198,N832UA,SYR,22:20:00,22:16:00,71,75,-4,22:32:00,16,0,0,0,0,0,IAD

In [228]:
arrivalData.dtypes
departureData.dtypes

arrivalData['Date (MM/DD/YYYY)'] = pd.to_datetime(arrivalData['Date (MM/DD/YYYY)'])
departureData['Date (MM/DD/YYYY)'] = pd.to_datetime(departureData['Date (MM/DD/YYYY)'])

arrivalData.head()
departureData.head()

Carrier Code               object
Date (MM/DD/YYYY)          object
Flight Number               int64
Tail Number                object
Origin Airport             object
Scheduled Arrival Time     object
Actual Arrival Time        object
Arrival Delay (Minutes)     int64
dtype: object

Carrier Code                                object
Date (MM/DD/YYYY)                           object
Flight Number                                int64
Tail Number                                 object
Destination Airport                         object
Scheduled departure time                    object
Actual departure time                       object
Scheduled elapsed time (Minutes)             int64
Actual elapsed time (Minutes)                int64
Departure delay (Minutes)                    int64
Wheels-off time                             object
Taxi-Out time (Minutes)                      int64
Delay Carrier (Minutes)                      int64
Delay Weather (Minutes)                      int64
Delay National Aviation System (Minutes)     int64
Delay Security (Minutes)                     int64
Delay Late Aircraft Arrival (Minutes)        int64
Source Airport                              object
dtype: object

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Origin Airport,Scheduled Arrival Time,Actual Arrival Time,Arrival Delay (Minutes)
0,UA,2022-01-10,604,N843UA,DEN,15:09:00,15:04:00,-5
1,UA,2022-01-10,1917,N899UA,ORD,16:57:00,16:54:00,-3
2,UA,2022-01-10,1998,N834UA,ORD,21:18:00,21:01:00,-17
3,UA,2022-01-10,2198,N854UA,IAD,23:31:00,23:52:00,21
4,UA,2022-02-10,604,N402UA,DEN,15:09:00,14:55:00,-14

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Destination Airport,Scheduled departure time,Actual departure time,Scheduled elapsed time (Minutes),Actual elapsed time (Minutes),Departure delay (Minutes),Wheels-off time,Taxi-Out time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes),Source Airport
0,UA,2022-01-10,2198,N854UA,SYR,22:20:00,22:47:00,71,65,27,23:01:00,14,21,0,0,0,0,IAD
1,UA,2022-02-10,2198,N854UA,SYR,22:20:00,22:21:00,71,71,1,22:38:00,17,0,0,0,0,0,IAD
2,UA,2022-03-10,2198,N830UA,SYR,22:20:00,22:12:00,71,69,-8,22:26:00,14,0,0,0,0,0,IAD
3,UA,2022-04-10,2198,N876UA,SYR,22:20:00,22:23:00,71,67,3,22:37:00,14,0,0,0,0,0,IAD
4,UA,2022-05-10,2198,N832UA,SYR,22:20:00,22:16:00,71,75,-4,22:32:00,16,0,0,0,0,0,IAD

In [229]:
arrivalData.isna().sum()
departureData.isna().sum()

arrivalData.dropna(inplace = True, axis = 1)
departureData.dropna(inplace = True, axis = 1)

Carrier Code               0
Date (MM/DD/YYYY)          0
Flight Number              0
Tail Number                3
Origin Airport             0
Scheduled Arrival Time     0
Actual Arrival Time        0
Arrival Delay (Minutes)    0
dtype: int64

Carrier Code                                0
Date (MM/DD/YYYY)                           0
Flight Number                               0
Tail Number                                 3
Destination Airport                         0
Scheduled departure time                    0
Actual departure time                       0
Scheduled elapsed time (Minutes)            0
Actual elapsed time (Minutes)               0
Departure delay (Minutes)                   0
Wheels-off time                             0
Taxi-Out time (Minutes)                     0
Delay Carrier (Minutes)                     0
Delay Weather (Minutes)                     0
Delay National Aviation System (Minutes)    0
Delay Security (Minutes)                    0
Delay Late Aircraft Arrival (Minutes)       0
Source Airport                              0
dtype: int64

In [230]:
departureData = departureData.drop('Carrier Code', axis=1)
departureData = departureData.drop('Source Airport', axis=1)

flightData = pd.merge(arrivalData, departureData, on = ['Date (MM/DD/YYYY)','Flight Number'])
flightData

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Origin Airport,Scheduled Arrival Time,Actual Arrival Time,Arrival Delay (Minutes),Destination Airport,Scheduled departure time,Actual departure time,Scheduled elapsed time (Minutes),Actual elapsed time (Minutes),Departure delay (Minutes),Wheels-off time,Taxi-Out time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
0,UA,2022-01-10,604,DEN,15:09:00,15:04:00,-5,SYR,09:49:00,09:46:00,200,198,-3,10:03:00,17,0,0,0,0,0
1,UA,2022-01-10,1917,ORD,16:57:00,16:54:00,-3,SYR,14:10:00,14:06:00,107,108,-4,14:32:00,26,0,0,0,0,0
2,UA,2022-01-10,1998,ORD,21:18:00,21:01:00,-17,SYR,18:21:00,18:15:00,117,106,-6,18:35:00,20,0,0,0,0,0
3,UA,2022-01-10,2198,IAD,23:31:00,23:52:00,21,SYR,22:20:00,22:47:00,71,65,27,23:01:00,14,21,0,0,0,0
4,UA,2022-02-10,604,DEN,15:09:00,14:55:00,-14,SYR,09:49:00,09:44:00,200,191,-5,09:58:00,14,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,UA,2022-12-30,1998,ORD,21:07:00,20:56:00,-11,SYR,18:14:00,18:11:00,113,105,-3,18:33:00,22,0,0,0,0,0
267,UA,2022-12-30,2488,EWR,23:14:00,23:07:00,-7,SYR,21:59:00,22:17:00,75,50,18,22:31:00,14,0,0,0,0,0
268,UA,2022-12-31,604,DEN,14:58:00,14:46:00,-12,SYR,09:45:00,09:48:00,193,178,3,10:00:00,12,0,0,0,0,0
269,UA,2022-12-31,1998,ORD,21:08:00,20:44:00,-24,SYR,18:15:00,18:06:00,113,98,-9,18:22:00,16,0,0,0,0,0
270,UA,2022-12-31,2488,EWR,23:14:00,00:46:00,92,SYR,21:59:00,23:33:00,75,73,94,00:03:00,30,92,0,0,0,0

In [231]:
# Reading and cleaning weather data

syrWeaather = pd.read_csv("C:/Users/nirmi/Desktop/SU_SEM3/IntroToML/Project/Data sets/weatherData/syracuse_weather_oct_nov_dec2022.csv", parse_dates=['datetime'])
newWeaather = pd.read_csv("C:/Users/nirmi/Desktop/SU_SEM3/IntroToML/Project/Data sets/weatherData/newark_weather_oct_nov_dec2022.csv",parse_dates=['datetime'])
chiWeaather = pd.read_csv("C:/Users/nirmi/Desktop/SU_SEM3/IntroToML/Project/Data sets/weatherData/chicago_weather_oct_nov_dec2022.csv",parse_dates=['datetime'])
wasWeaather = pd.read_csv("C:/Users/nirmi/Desktop/SU_SEM3/IntroToML/Project/Data sets/weatherData/washingtondc_weather_oct_nov_dec2022.csv",parse_dates=['datetime'])
denWeaather = pd.read_csv("C:/Users/nirmi/Desktop/SU_SEM3/IntroToML/Project/Data sets/weatherData/denver_weather_oct_nov_dec2022.csv",parse_dates=['datetime'])

syrWeaather.head()
newWeaather.head()
chiWeaather.head()
wasWeaather.head()
denWeaather.head()

,datetime,temp,pres,dewpt,wind_spd,wind_dir,precip,snow,clouds,rh,solar_rad,uv,vis,weather,pod,timestamp_utc,timestamp_local
0,2022-10-01 00:00:00,10.60,"1,008.40",6.60,2.10,360,0.00,0.00,87,76,0,0.00,16,"{'icon': 'c04n', 'description': 'Overcast clou...",n,2022-10-01 00:00:00,2022-09-30 20:00:00
1,2022-10-01 01:00:00,11.10,"1,008.27",5.40,1.60,295,0.00,0.00,87,68,0,0.00,16,"{'icon': 'c04n', 'description': 'Overcast clou...",n,2022-10-01 01:00:00,2022-09-30 21:00:00
2,2022-10-01 02:00:00,10.60,"1,008.13",6.60,1.20,225,0.00,0.00,87,76,0,0.00,16,"{'icon': 'c04n', 'description': 'Overcast clou...",n,2022-10-01 02:00:00,2022-09-30 22:00:00
3,2022-10-01 03:00:00,9.40,"1,008.00",6.70,1.50,160,0.00,0.00,87,83,0,0.00,16,"{'icon': 'c04n', 'description': 'Overcast clou...",n,2022-10-01 03:00:00,2022-09-30 23:00:00
4,2022-10-01 04:00:00,9.40,"1,007.57",7.20,1.60,135,0.00,0.00,87,86,0,0.00,16,"{'icon': 'c04n', 'description': 'Overcast clou...",n,2022-10-01 04:00:00,2022-10-01 00:00:00

,datetime,temp,pres,dewpt,wind_spd,wind_dir,precip,snow,clouds,rh,solar_rad,uv,vis,weather,pod,timestamp_utc,timestamp_local
0,2022-10-01 00:00:00,15.60,"1,021.50",8.80,3.60,60,0.00,0.00,97,64,0,0.00,16,"{'icon': 'c04n', 'description': 'Overcast clou...",n,2022-10-01 00:00:00,2022-09-30 20:00:00
1,2022-10-01 01:00:00,15.60,"1,020.92",8.80,4.60,60,0.00,0.00,98,64,0,0.00,16,"{'icon': 'c04n', 'description': 'Overcast clou...",n,2022-10-01 01:00:00,2022-09-30 21:00:00
2,2022-10-01 02:00:00,15.60,"1,020.34",8.80,4.10,60,0.00,0.00,98,64,0,0.00,16,"{'icon': 'c04n', 'description': 'Overcast clou...",n,2022-10-01 02:00:00,2022-09-30 22:00:00
3,2022-10-01 03:00:00,14.40,"1,019.76",8.80,5.70,30,0.25,0.00,99,69,0,0.00,16,"{'icon': 'c04n', 'description': 'Overcast clou...",n,2022-10-01 03:00:00,2022-09-30 23:00:00
4,2022-10-01 04:00:00,14.40,"1,019.18",9.20,6.20,30,0.25,0.00,99,71,0,0.00,16,"{'icon': 'c04n', 'description': 'Overcast clou...",n,2022-10-01 04:00:00,2022-10-01 00:00:00

,datetime,temp,pres,dewpt,wind_spd,wind_dir,precip,snow,clouds,rh,solar_rad,uv,vis,weather,pod,timestamp_utc,timestamp_local
0,2022-10-01 00:00:00,15.00,"1,001.00",8.70,3.40,15,0.00,0.00,2,66,0,0.00,16,"{'icon': 'c02n', 'description': 'Few clouds', ...",n,2022-10-01 00:00:00,2022-09-30 19:00:00
1,2022-10-01 01:00:00,14.30,"1,000.90",9.30,3.60,10,0.00,0.00,0,72,0,0.00,16,"{'icon': 'c01n', 'description': 'Clear Sky', '...",n,2022-10-01 01:00:00,2022-09-30 20:00:00
2,2022-10-01 02:00:00,14.90,"1,000.90",10.30,5.70,30,0.00,0.00,0,74,0,0.00,16,"{'icon': 'c01n', 'description': 'Clear Sky', '...",n,2022-10-01 02:00:00,2022-09-30 21:00:00
3,2022-10-01 03:00:00,15.00,"1,001.60",10.40,5.70,40,0.00,0.00,0,74,0,0.00,16,"{'icon': 'c01n', 'description': 'Clear Sky', '...",n,2022-10-01 03:00:00,2022-09-30 22:00:00
4,2022-10-01 04:00:00,14.90,"1,001.30",11.30,4.10,40,0.00,0.00,30,79,0,0.00,16,"{'icon': 'c02n', 'description': 'Scattered clo...",n,2022-10-01 04:00:00,2022-09-30 23:00:00

,datetime,temp,pres,dewpt,wind_spd,wind_dir,precip,snow,clouds,rh,solar_rad,uv,vis,weather,pod,timestamp_utc,timestamp_local
0,2022-10-01 00:00:00,14.80,"1,007.30",11.80,3.10,20,1.72,0.00,94,82,0,0.00,10,"{'icon': 'r01n', 'description': 'Light rain', ...",n,2022-10-01 00:00:00,2022-09-30 20:00:00
1,2022-10-01 01:00:00,14.20,"1,007.30",12.10,2.10,10,1.31,0.00,96,87,0,0.00,10,"{'icon': 'r01n', 'description': 'Light rain', ...",n,2022-10-01 01:00:00,2022-09-30 21:00:00
2,2022-10-01 02:00:00,13.70,"1,007.30",11.60,2.40,10,0.00,0.00,94,87,0,0.00,10,"{'icon': 'c04n', 'description': 'Overcast clou...",n,2022-10-01 02:00:00,2022-09-30 22:00:00
3,2022-10-01 03:00:00,13.50,"1,005.20",12.40,2.60,10,0.05,0.00,93,93,0,0.00,10,"{'icon': 'c04n', 'description': 'Overcast clou...",n,2022-10-01 03:00:00,2022-09-30 23:00:00
4,2022-10-01 04:00:00,13.50,"1,005.20",11.40,3.10,20,3.22,0.00,92,87,0,0.00,10,"{'icon': 'r01n', 'description': 'Light rain', ...",n,2022-10-01 04:00:00,2022-10-01 00:00:00

,datetime,temp,pres,dewpt,wind_spd,wind_dir,precip,snow,clouds,rh,solar_rad,uv,vis,weather,pod,timestamp_utc,timestamp_local
0,2022-10-01 00:00:00,17.00,827.73,7.90,7.20,130,1.00,0.00,87,55,83,0.60,16,"{'icon': 'r01d', 'description': 'Light rain', ...",d,2022-10-01 00:00:00,2022-09-30 18:00:00
1,2022-10-01 01:00:00,14.00,827.75,11.00,2.60,250,0.00,0.00,87,82,0,0.00,16,"{'icon': 'c04n', 'description': 'Overcast clou...",n,2022-10-01 01:00:00,2022-09-30 19:00:00
2,2022-10-01 02:00:00,15.00,827.77,10.00,3.10,360,0.00,0.00,87,72,0,0.00,16,"{'icon': 'c04n', 'description': 'Overcast clou...",n,2022-10-01 02:00:00,2022-09-30 20:00:00
3,2022-10-01 03:00:00,13.00,827.78,11.90,8.80,250,1.25,0.00,87,93,0,0.00,16,"{'icon': 'r01n', 'description': 'Light rain', ...",n,2022-10-01 03:00:00,2022-09-30 21:00:00
4,2022-10-01 04:00:00,12.00,827.80,9.90,2.60,350,0.00,0.00,50,87,0,0.00,16,"{'icon': 'c03n', 'description': 'Broken clouds...",n,2022-10-01 04:00:00,2022-09-30 22:00:00

In [232]:
syrWeaather = syrWeaather.drop(['timestamp_utc', 'timestamp_local', 'uv', 'solar_rad', 'pod'],axis = 1)
denWeaather = denWeaather.drop(['timestamp_utc', 'timestamp_local', 'uv', 'solar_rad', 'pod'],axis = 1)
wasWeaather = wasWeaather.drop(['timestamp_utc', 'timestamp_local', 'uv', 'solar_rad', 'pod'],axis = 1)
chiWeaather = chiWeaather.drop(['timestamp_utc', 'timestamp_local', 'uv', 'solar_rad', 'pod'],axis = 1)
newWeaather = newWeaather.drop(['timestamp_utc', 'timestamp_local', 'uv', 'solar_rad', 'pod'],axis = 1)

syrWeaather.head()
newWeaather.head()
chiWeaather.head()
wasWeaather.head()
denWeaather.head()

,datetime,temp,pres,dewpt,wind_spd,wind_dir,precip,snow,clouds,rh,vis,weather
0,2022-10-01 00:00:00,10.60,"1,008.40",6.60,2.10,360,0.00,0.00,87,76,16,"{'icon': 'c04n', 'description': 'Overcast clou..."
1,2022-10-01 01:00:00,11.10,"1,008.27",5.40,1.60,295,0.00,0.00,87,68,16,"{'icon': 'c04n', 'description': 'Overcast clou..."
2,2022-10-01 02:00:00,10.60,"1,008.13",6.60,1.20,225,0.00,0.00,87,76,16,"{'icon': 'c04n', 'description': 'Overcast clou..."
3,2022-10-01 03:00:00,9.40,"1,008.00",6.70,1.50,160,0.00,0.00,87,83,16,"{'icon': 'c04n', 'description': 'Overcast clou..."
4,2022-10-01 04:00:00,9.40,"1,007.57",7.20,1.60,135,0.00,0.00,87,86,16,"{'icon': 'c04n', 'description': 'Overcast clou..."

,datetime,temp,pres,dewpt,wind_spd,wind_dir,precip,snow,clouds,rh,vis,weather
0,2022-10-01 00:00:00,15.60,"1,021.50",8.80,3.60,60,0.00,0.00,97,64,16,"{'icon': 'c04n', 'description': 'Overcast clou..."
1,2022-10-01 01:00:00,15.60,"1,020.92",8.80,4.60,60,0.00,0.00,98,64,16,"{'icon': 'c04n', 'description': 'Overcast clou..."
2,2022-10-01 02:00:00,15.60,"1,020.34",8.80,4.10,60,0.00,0.00,98,64,16,"{'icon': 'c04n', 'description': 'Overcast clou..."
3,2022-10-01 03:00:00,14.40,"1,019.76",8.80,5.70,30,0.25,0.00,99,69,16,"{'icon': 'c04n', 'description': 'Overcast clou..."
4,2022-10-01 04:00:00,14.40,"1,019.18",9.20,6.20,30,0.25,0.00,99,71,16,"{'icon': 'c04n', 'description': 'Overcast clou..."

,datetime,temp,pres,dewpt,wind_spd,wind_dir,precip,snow,clouds,rh,vis,weather
0,2022-10-01 00:00:00,15.00,"1,001.00",8.70,3.40,15,0.00,0.00,2,66,16,"{'icon': 'c02n', 'description': 'Few clouds', ..."
1,2022-10-01 01:00:00,14.30,"1,000.90",9.30,3.60,10,0.00,0.00,0,72,16,"{'icon': 'c01n', 'description': 'Clear Sky', '..."
2,2022-10-01 02:00:00,14.90,"1,000.90",10.30,5.70,30,0.00,0.00,0,74,16,"{'icon': 'c01n', 'description': 'Clear Sky', '..."
3,2022-10-01 03:00:00,15.00,"1,001.60",10.40,5.70,40,0.00,0.00,0,74,16,"{'icon': 'c01n', 'description': 'Clear Sky', '..."
4,2022-10-01 04:00:00,14.90,"1,001.30",11.30,4.10,40,0.00,0.00,30,79,16,"{'icon': 'c02n', 'description': 'Scattered clo..."

,datetime,temp,pres,dewpt,wind_spd,wind_dir,precip,snow,clouds,rh,vis,weather
0,2022-10-01 00:00:00,14.80,"1,007.30",11.80,3.10,20,1.72,0.00,94,82,10,"{'icon': 'r01n', 'description': 'Light rain', ..."
1,2022-10-01 01:00:00,14.20,"1,007.30",12.10,2.10,10,1.31,0.00,96,87,10,"{'icon': 'r01n', 'description': 'Light rain', ..."
2,2022-10-01 02:00:00,13.70,"1,007.30",11.60,2.40,10,0.00,0.00,94,87,10,"{'icon': 'c04n', 'description': 'Overcast clou..."
3,2022-10-01 03:00:00,13.50,"1,005.20",12.40,2.60,10,0.05,0.00,93,93,10,"{'icon': 'c04n', 'description': 'Overcast clou..."
4,2022-10-01 04:00:00,13.50,"1,005.20",11.40,3.10,20,3.22,0.00,92,87,10,"{'icon': 'r01n', 'description': 'Light rain', ..."

,datetime,temp,pres,dewpt,wind_spd,wind_dir,precip,snow,clouds,rh,vis,weather
0,2022-10-01 00:00:00,17.00,827.73,7.90,7.20,130,1.00,0.00,87,55,16,"{'icon': 'r01d', 'description': 'Light rain', ..."
1,2022-10-01 01:00:00,14.00,827.75,11.00,2.60,250,0.00,0.00,87,82,16,"{'icon': 'c04n', 'description': 'Overcast clou..."
2,2022-10-01 02:00:00,15.00,827.77,10.00,3.10,360,0.00,0.00,87,72,16,"{'icon': 'c04n', 'description': 'Overcast clou..."
3,2022-10-01 03:00:00,13.00,827.78,11.90,8.80,250,1.25,0.00,87,93,16,"{'icon': 'r01n', 'description': 'Light rain', ..."
4,2022-10-01 04:00:00,12.00,827.80,9.90,2.60,350,0.00,0.00,50,87,16,"{'icon': 'c03n', 'description': 'Broken clouds..."

In [233]:
import ast

syrWeaather['weather'] = syrWeaather['weather'].apply(lambda x: ast.literal_eval(x))
syrWeaather['description'] = syrWeaather['weather'].apply(lambda x: x['description'])
syrWeaather.drop('weather', axis=1, inplace=True)

newWeaather['weather'] = newWeaather['weather'].apply(lambda x: ast.literal_eval(x))
newWeaather['description'] = newWeaather['weather'].apply(lambda x: x['description'])
newWeaather.drop('weather', axis=1, inplace=True)

denWeaather['weather'] = denWeaather['weather'].apply(lambda x: ast.literal_eval(x))
denWeaather['description'] = denWeaather['weather'].apply(lambda x: x['description'])
denWeaather.drop('weather', axis=1, inplace=True)

wasWeaather['weather'] = wasWeaather['weather'].apply(lambda x: ast.literal_eval(x))
wasWeaather['description'] = wasWeaather['weather'].apply(lambda x: x['description'])
wasWeaather.drop('weather', axis=1, inplace=True)

chiWeaather['weather'] = chiWeaather['weather'].apply(lambda x: ast.literal_eval(x))
chiWeaather['description'] = chiWeaather['weather'].apply(lambda x: x['description'])
chiWeaather.drop('weather', axis=1, inplace=True)

syrWeaather['Date'] = syrWeaather['datetime'].dt.date
syrWeaather['Time'] = syrWeaather['datetime'].dt.time

newWeaather['Date'] = newWeaather['datetime'].dt.date
newWeaather['Time'] = newWeaather['datetime'].dt.time

denWeaather['Date'] = denWeaather['datetime'].dt.date
denWeaather['Time'] = denWeaather['datetime'].dt.time

wasWeaather['Date'] = wasWeaather['datetime'].dt.date
wasWeaather['Time'] = wasWeaather['datetime'].dt.time

chiWeaather['Date'] = chiWeaather['datetime'].dt.date
chiWeaather['Time'] = chiWeaather['datetime'].dt.time

syrWeaather = syrWeaather.drop('datetime',axis = 1)
denWeaather = denWeaather.drop('datetime',axis = 1)
wasWeaather = wasWeaather.drop('datetime',axis = 1)
newWeaather = newWeaather.drop('datetime',axis = 1)
chiWeaather = chiWeaather.drop('datetime',axis = 1)

syrWeaather
newWeaather
denWeaather
wasWeaather
chiWeaather

,temp,pres,dewpt,wind_spd,wind_dir,precip,snow,clouds,rh,vis,description,Date,Time
0,10.60,"1,008.40",6.60,2.10,360,0.00,0.00,87,76,16,Overcast clouds,2022-10-01,00:00:00
1,11.10,"1,008.27",5.40,1.60,295,0.00,0.00,87,68,16,Overcast clouds,2022-10-01,01:00:00
2,10.60,"1,008.13",6.60,1.20,225,0.00,0.00,87,76,16,Overcast clouds,2022-10-01,02:00:00
3,9.40,"1,008.00",6.70,1.50,160,0.00,0.00,87,83,16,Overcast clouds,2022-10-01,03:00:00
4,9.40,"1,007.57",7.20,1.60,135,0.00,0.00,87,86,16,Overcast clouds,2022-10-01,04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2179,16.10,"1,002.70",8.10,3.10,190,0.00,0.00,87,59,16,Overcast clouds,2022-12-30,19:00:00
2180,17.20,"1,002.70",7.00,4.10,200,0.00,0.00,87,51,16,Overcast clouds,2022-12-30,20:00:00
2181,15.60,"1,002.30",6.10,3.60,200,0.00,0.00,68,53,16,Broken clouds,2022-12-30,21:00:00
2182,13.30,"1,002.40",5.50,3.60,190,0.00,0.00,50,59,16,Broken clouds,2022-12-30,22:00:00
2183,13.90,"1,002.40",4.80,4.10,200,0.00,0.00,50,54,16,Broken clouds,2022-12-30,23:00:00

,temp,pres,dewpt,wind_spd,wind_dir,precip,snow,clouds,rh,vis,description,Date,Time
0,15.60,"1,021.50",8.80,3.60,60,0.00,0.00,97,64,16,Overcast clouds,2022-10-01,00:00:00
1,15.60,"1,020.92",8.80,4.60,60,0.00,0.00,98,64,16,Overcast clouds,2022-10-01,01:00:00
2,15.60,"1,020.34",8.80,4.10,60,0.00,0.00,98,64,16,Overcast clouds,2022-10-01,02:00:00
3,14.40,"1,019.76",8.80,5.70,30,0.25,0.00,99,69,16,Overcast clouds,2022-10-01,03:00:00
4,14.40,"1,019.18",9.20,6.20,30,0.25,0.00,99,71,16,Overcast clouds,2022-10-01,04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2179,16.10,"1,021.90",1.40,3.60,170,0.00,0.00,50,37,16,Broken clouds,2022-12-30,19:00:00
2180,16.70,"1,021.60",2.00,2.60,200,0.00,0.00,50,37,16,Broken clouds,2022-12-30,20:00:00
2181,16.10,"1,021.30",2.20,4.10,190,0.00,0.00,87,39,16,Overcast clouds,2022-12-30,21:00:00
2182,14.40,"1,021.60",2.00,2.60,170,0.00,0.00,87,43,16,Overcast clouds,2022-12-30,22:00:00
2183,12.20,"1,021.90",2.60,2.10,160,0.00,0.00,87,52,16,Overcast clouds,2022-12-30,23:00:00

,temp,pres,dewpt,wind_spd,wind_dir,precip,snow,clouds,rh,vis,description,Date,Time
0,17.00,827.73,7.90,7.20,130,1.00,0.00,87,55,16,Light rain,2022-10-01,00:00:00
1,14.00,827.75,11.00,2.60,250,0.00,0.00,87,82,16,Overcast clouds,2022-10-01,01:00:00
2,15.00,827.77,10.00,3.10,360,0.00,0.00,87,72,16,Overcast clouds,2022-10-01,02:00:00
3,13.00,827.78,11.90,8.80,250,1.25,0.00,87,93,16,Light rain,2022-10-01,03:00:00
4,12.00,827.80,9.90,2.60,350,0.00,0.00,50,87,16,Broken clouds,2022-10-01,04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2179,2.00,818.30,-9.20,1.50,340,0.00,0.00,87,43,16,Overcast clouds,2022-12-30,19:00:00
2180,2.00,817.20,-9.20,1.50,250,0.00,0.00,87,43,16,Overcast clouds,2022-12-30,20:00:00
2181,0.00,816.60,-11.10,2.10,270,0.00,0.00,87,43,16,Overcast clouds,2022-12-30,21:00:00
2182,0.00,816.90,-8.20,1.50,280,0.00,0.00,87,54,16,Overcast clouds,2022-12-30,22:00:00
2183,2.00,816.60,-7.10,1.50,280,0.00,0.00,87,51,16,Overcast clouds,2022-12-30,23:00:00

,temp,pres,dewpt,wind_spd,wind_dir,precip,snow,clouds,rh,vis,description,Date,Time
0,14.80,"1,007.30",11.80,3.10,20,1.72,0.00,94,82,10,Light rain,2022-10-01,00:00:00
1,14.20,"1,007.30",12.10,2.10,10,1.31,0.00,96,87,10,Light rain,2022-10-01,01:00:00
2,13.70,"1,007.30",11.60,2.40,10,0.00,0.00,94,87,10,Overcast clouds,2022-10-01,02:00:00
3,13.50,"1,005.20",12.40,2.60,10,0.05,0.00,93,93,10,Overcast clouds,2022-10-01,03:00:00
4,13.50,"1,005.20",11.40,3.10,20,3.22,0.00,92,87,10,Light rain,2022-10-01,04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2179,15.00,"1,013.00",3.20,1.79,157,0.00,0.00,0,45,16,Clear Sky,2022-12-30,19:00:00
2180,16.10,"1,012.40",4.20,1.34,171,0.00,0.00,0,45,16,Clear Sky,2022-12-30,20:00:00
2181,16.10,"1,011.70",5.10,1.79,165,0.00,0.00,0,48,16,Clear Sky,2022-12-30,21:00:00
2182,13.00,"1,011.70",4.20,2.10,170,0.00,0.00,7,55,16,Few clouds,2022-12-30,22:00:00
2183,11.90,"1,012.70",4.90,2.10,170,0.00,0.00,44,62,16,Broken clouds,2022-12-30,23:00:00

,temp,pres,dewpt,wind_spd,wind_dir,precip,snow,clouds,rh,vis,description,Date,Time
0,15.00,"1,001.00",8.70,3.40,15,0.00,0.00,2,66,16,Few clouds,2022-10-01,00:00:00
1,14.30,"1,000.90",9.30,3.60,10,0.00,0.00,0,72,16,Clear Sky,2022-10-01,01:00:00
2,14.90,"1,000.90",10.30,5.70,30,0.00,0.00,0,74,16,Clear Sky,2022-10-01,02:00:00
3,15.00,"1,001.60",10.40,5.70,40,0.00,0.00,0,74,16,Clear Sky,2022-10-01,03:00:00
4,14.90,"1,001.30",11.30,4.10,40,0.00,0.00,30,79,16,Scattered clouds,2022-10-01,04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2179,4.20,992.50,0.20,2.10,200,0.01,0.00,95,75,16,Overcast clouds,2022-12-30,19:00:00
2180,3.90,992.50,0.10,2.60,270,0.04,0.00,96,76,16,Overcast clouds,2022-12-30,20:00:00
2181,3.90,992.40,-0.30,2.10,290,0.00,0.00,95,74,16,Overcast clouds,2022-12-30,21:00:00
2182,3.70,992.40,-0.30,3.10,270,0.06,0.00,95,75,16,Overcast clouds,2022-12-30,22:00:00
2183,3.40,992.70,-0.20,2.10,270,0.00,0.00,94,77,16,Overcast clouds,2022-12-30,23:00:00

In [ ]:
# Initial pred.